.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 20rem;
    padding: 1rem;
    height: 100vh;

    @container style(--component-state: desktop) or style(--component-state: initial) {}

    & nav {

        & .footer {
            text-align: left;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 3rem;
        corner-shape: squircle;
        padding: 2rem;
        height: 100%;
        background-color: var(--secondary-bg-color);

        & .menu {
            position: relative;
            isolation: isolate;

            &>li {

                position: relative;

                &>a,
                &>button {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    display: inline-block;
                    color: var(--primary-text-color);
                    text-align: left;

                    &.selected {
                        anchor-name: --test;
                    }

                    &:hover {
                        anchor-name: --test;
                    }
                }

                &>button {
                    &::after {
                        content: url('/assets/images/svg/ChevronRight.svg');
                        position: absolute;
                        width: 1rem;
                        height: 1rem;
                        transform: translateY(-50%);
                        filter: invert(1);
                        top: 50%;
                        right: 1rem;
                    }
                }

            }

            &::after {
                content: '';
                position: absolute;
                top: anchor(top);
                left: anchor(left);
                right: anchor(right);
                bottom: anchor(bottom);
                position-anchor: --test;
                background-color: var(--tertiary-bg-color);
                transition: top 300ms, bottom 300ms;
                z-index: -1;
                border-radius: 9999rem;
                corner-shape: squircle;
                background-blend-mode: overlay;
            }
        }

        & .sub__menu {
            position: fixed;
            right: 0;
            top: 0;
            width: 100vw;
            margin: 0;
            border: unset;
            height: 80vh;
            transform: translateY(-100%);
            transition: transform 600ms, display 600ms;
            transition-behavior: allow-discrete;
            background-color: var(--secondary-bg-color);
            z-index: 9999;
            color: var(--primary-text-color);
            padding: 5rem 6rem;
            box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);

            & ul {
                display: flex;
                gap: 3rem;
            }

            & .close__button {
                position: absolute;
                top: 1rem;
                left: 1rem;
                cursor: pointer;
                border-radius: 9999rem;
                corner-shape: squircle;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 300ms;
                background-color: var(--tertiary-bg-color);
                border: 1px solid var(--tertiary-bg-color);

                &:hover {
                    background-color: var(--secondary-bg-color);
                }

                & svg {
                    width: 3rem;
                    height: 3rem;
                    padding: 1rem;
                    filter: invert(0);
                }
            }

            & .sub__menu__group {

                & .sub__menu__title {
                    font-size: 1.7rem;
                    font-weight: 800;
                    line-height: 1.2;
                    margin-bottom: 1.5rem;
                    display: flex;
                    gap: 3rem;
                    justify-content: space-between;
                    text-align: left;
                }

                &>ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }

                &>ul>li {
                    width: 100%;

                    & a {
                        display: block;
                        position: relative;
                        padding: 0.5rem 3rem 0.5rem 0;
                        width: 100%;
                        text-align: left;

                        &::after {
                            transition: transform 300ms;
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            transform: scaleX(0);
                            transform-origin: left;
                            height: 1px;
                            background-color: var(--secondary-text-color);
                            z-index: 1;
                        }

                        &::before {
                            content: "-";
                            position: absolute;
                            right: 0.15rem;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 1;
                        }

                        &:hover::after {
                            transform: scaleX(1);
                        }
                    }
                }

            }

            &::backdrop {
                backdrop-filter: blur(0.1rem);
            }

            &:popover-open {
                transform: translateY(0);
                display: block;
                display: flex;
                gap: 10rem;
                flex-wrap: wrap;

                @starting-style {
                    transform: translateY(-100%);
                }
            }
        }
    }



    @container style(--component-state: mobile) {
        & {
            position: unset;
            padding: 0;
            height: unset;
            width: unset;
            max-width: unset;

            & .burger__menu {
                position: fixed;
                top: 2rem;
                right: 2rem;
                width: 2.5rem;
                cursor: pointer;

                & span {
                    display: block;
                    margin: 0.5rem 0;
                    background-color: var(--primary-text-color);
                    height: 0.25rem;
                    width: 100%;
                    background-color: white;
                }
            }

            & .navbar__overlay:popover-open+nav {
                transform: translateX(0);

                @starting-style {
                    transform: translateX(-100%);
                }
            }


            & nav {
                border-radius: 0;
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100%;
                max-width: 20rem;
                transform: translateX(-100%);
                transition: transform 300ms, display 300ms;
                transition-behavior: allow-discrete;
                z-index: 1000;

                & .sub__menu {
                    transform: translateX(-100%);
                    width: 80vw;
                    height: 100vh;
                    padding: 6rem 3rem 4rem 3rem;

                    & .close__button {
                        left: unset;
                        right: 1rem;
                    }

                    &:popover-open {

                        flex-direction: column;
                        transform: translateX(0);
                        gap: 3rem;

                        @starting-style {
                            transform: translateX(-100%);
                        }
                    }
                }
            }
        }
    }

}